<?xml version="1.0"?>
<settings>
    <servers>
        <server>
            <id>master-ci-snapshots</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>master-ci-releases</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mulesoft-private</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mulesoft-snapshots</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mulesoft-atlassian</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mulesoft-central</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mulesoft-releases</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mulesoft-ci-snapshots</id>
            <username>${env.NEXUS_MASTER_USER}</username>
            <password>${env.NEXUS_MASTER_PASS}</password>
        </server>
        <server>
            <id>mulesoft-ci-releases</id>
            <username>${env.NEXUS_MASTER_USER}</username>
            <password>${env.NEXUS_MASTER_PASS}</password>
        </server>
        <server>
            <id>mule-releases</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-snapshots</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-ee-customer-releases</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>build-releases</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>build-snapshots</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>internal-repository</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>internal-repository</id>
            <name>Maven Repository Manager running on nexus3.build</name>
            <url>https://nexus3.build.msap.io/repository/maven-all/</url>
            <mirrorOf>external:*</mirrorOf>
        </mirror>
    </mirrors>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <localRepository>/tmp/buildpack_cache/.m2/repository</localRepository>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                    ${env.SONAR_SERVER_URL}
                </sonar.host.url>
                <sonar.login>
                    ${env.SONAR_SERVER_TOKEN}
                </sonar.login>
            </properties>
        </profile>
    </profiles>

</settings>
